* {
  font-family: "Roboto", sans-serif;
}

.hidden {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: rgb(54, 54, 134);
  margin: 0;
}

.darken {
  animation: darken 1s linear;
}

@keyframes darken {
  from {
    background-color: rgb(54, 54, 134);
  }
  50% {
    background-color: black;
  }
  to {
    background-color: rgb(54, 54, 134);
  }
}

nav {
  position: fixed;
  top: 3rem;
  left: 2rem;
  display: flex;
  z-index: 3;
}

.back-link {
  padding: 1rem;
  height: 100%;
  width: 100%;
  background-color: antiquewhite;
  border-radius: 100%;
  transition: background 0.2s ease;
  box-shadow: 0 0 4px black;
  border: red 2px solid;
}

.back-button-icon {
  height: 3rem;
  width: 3rem;
  fill: rgb(54, 54, 134);
}

.buttons-container {
  display: flex;
}

.button-file {
  margin-right: 1em;
  margin-bottom: 1em;
}

.button-file:last-of-type {
  margin-right: 0;
}

h1 {
  color: white;
  font-size: 3rem;
  letter-spacing: 2px;
}

button {
  letter-spacing: 2px;
  border: none;
  outline: none;
  background-color: antiquewhite;
  color: rgb(52, 52, 129);
  font-weight: bold;
  font-size: 1.5em;
  width: 20rem;
  height: 15rem;
  border-radius: 100%;
  box-shadow: 0 0 4px black;
  cursor: pointer;
  transition: background 0.2s ease;
}

#sheet-buttons-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.red {
  color: red;
}

button:focus {
  border: 5px solid rgb(187, 0, 0);
}

tr:focus,
th:focus {
  box-sizing: border-box;
  outline: 5px solid rgb(187, 0, 0);
}

tr:focus {
  background-color: antiquewhite;
  color: rgb(52, 52, 129);
  font-weight: bold;
}

tr:focus td {
  border-right: 2px solid rgb(52, 52, 129);
}

tr:focus td:last-of-type {
  border-right: none;
}

* {
  box-sizing: border-box;
}

button:hover,
.back-link:hover {
  background-color: rgb(255, 218, 170);
}

table {
  color: antiquewhite;
  width: 90vw;
  background-color: antiquewhite;
  margin-block-end: 2rem;
  border-collapse: collapse;
  border: 2px solid antiquewhite;
  table-layout: fixed;
}

caption {
  font-size: 1.5rem;
  margin-block-end: 1rem;
}

thead {
  font-size: 1.2rem;
  color: rgb(52, 52, 129);
}

th {
  margin: 0;
  border: 2px solid antiquewhite;
  border-right: 2px solid rgb(52, 52, 129);
  position: sticky;
  position: -webkit-sticky;
  top: -2px; /* required */
  background-color: antiquewhite;
}

th:last-of-type {
  border-right: 2px solid antiquewhite;
}

td {
  border: 2px solid antiquewhite;
}

tbody {
  background-color: rgb(52, 52, 129);
}

tbody td {
  padding: 0.5rem;
  height: 3em;
  max-height: 3em;
}

.bigger {
  font-size: 1.5em;
}

tr {
  transition: font-size 0.5s linear;
  height: 2em;
}

.unchiseled {
  cursor: url("../assets/cursor.png") 0 30, auto;
  background: url("../assets/stone.jpg");
  border: none;
}

.chiseled {
  cursor: default;
  background: rgb(54, 54, 134);
  border: none;
}
